/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* main */
.navigation_menu {
    height: 50px;
    text-align: center;

}
.menu_inline {
    display: inline-block;
    list-style: none;
}
.menu_inline li {
    display: inline-block;
    margin: 10px 10px;
}
.menu_inline a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    color: #696c71;
}
.color_green {
    height: 1px;
    width: 25px;
    margin-left: 20px;
    background-color: #77ae2a;
}

#left_col {
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
    padding-top: 75px;
    background-color: #000000;
}

#right_col {
    float: left;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    padding-top: 75px;
    overflow: auto;
    background-color: #141922;
}


#played {
    display: flex;
    flex-wrap: wrap;
    /* height: 2000px; */
    background-color: aqua;
}

.album img {
    width: 130px;
    /* height: 150px; */
    margin: 10px;
    background-color: orange;
}

#for_you {
    display: flex;
    flex-wrap: wrap;
    background-color: orchid;
}

#popular {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
}

#popular img {
    border-radius: 50%;
}


/* footer */

footer {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #282828;
}
/* media query */

/* XS */
@media screen and (max-width: 487px) {

    #left_col {
        width: 40px;
    }

    #right_col {
        width: calc(100% - 40px);
    }
    
    .album img {
        width: 140px;
    }
}

/* MD */
@media screen and (max-width: 1024px) {
    
}