/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* main */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
}

.navigation_menu {
    text-align: center;
}

.menu_inline {
    display: inline-block;
    list-style: none;
    margin-bottom: 25px;
}
.menu_inline li {
    display: inline-block;
    margin: 10px 10px;
}
.menu_inline a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    color: #696c71;
}
.menu_inline a:hover {
    color: white;
}

.color_green {
    height: 1px;
    width: 25px;
    margin-left: 20px;
    background-color: #77ae2a;
}

#left_col {
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #000000;
}

#right_col {
    float: left;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    padding-top: 80px;
    overflow: auto;
    background-color: #141922;
}


#played {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.section_title {
    padding-left: 10px;
    padding-bottom: 20px;
    color: white;
}

.album {
    text-align: center;
}

.album img {
    width: 130px;
    margin: 10px;
    margin-left: 10px;
    background-color: orange;
}
.album h4 {
    width: 150px;
    font-size: 12px;
    color: white;
}
.album h5 {
    font-size: 8px;
    color: #787b7f;
}
#for_you {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.subtitle {
    margin-top: 5px;
    font-size: 10px;
    color: #787b7f;
}

#popular {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

#popular img {
    border-radius: 50%;
}


/* footer */

footer {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #282828;
}
/* media query */

/* XS */
@media screen and (max-width: 487px) {

    #left_col {
        width: 40px;
    }

    #right_col {
        width: calc(100% - 40px);
    }
    
    .album img {
        width: 140px;
    }

    .upgrade {
        width: calc(100% - 40px);
    }
}

/* MD */
@media screen and (max-width: 1023px) {
    .album img {
        width: 110px;
    }
    .album h4 {
        width: 130px;
    }
}